*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

#root {
  background-color: #383631;
}

:root {
  --primary-color: #ebd380;
  --secondary-color: #c280eb;
  --tertiary-color: #eb8093;
  --quaternary-color: #8280eb;
}

section {
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.gymImg {
  opacity: 0.8;
}

#home {
  background: url('./img/gymblackwhite.jpg') no-repeat center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.homeTxt {
  position: absolute;
  bottom: 20%;
  background: rgba(97, 88, 88, 0.43);
  /* backdrop-filter: blur(1px); */
  left: 0;
  margin-bottom: 1em;
}

.homeTxt ul {
  padding-left: 1.2em;
  margin: 0;
  word-break: normal;
}

.btnContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  margin: 0 auto;
}

.homeBtn {
  background-color: #597e62;
  border-radius: 53px;
  padding: 1em 1.5em;
  border: none;
  display: inline-block;
  color: #cfcfcf;
  font-weight: bold;
  text-decoration: none;
}

.homeBtn svg {
  transition: all 0.3s ease-in-out;
}

.homeBtn:hover {
  opacity: 0.8;
  color: #cfcfcf;
}

.homeBtn:hover svg {
  margin-left: 0.2em;
}

.homeTxt ul li {
  font-size: 3em;
  font-weight: 900;
}

.text1 {
  color: var(--primary-color);
}

.text2 {
  color: var(--secondary-color);
}

.text3 {
  color: var(--tertiary-color);
}

.text4 {
  color: var(--quaternary-color);
}

header {
  display: flex;
  padding-right: 0.5em;
  padding-left: 1em;
  padding-top: 0.8em;
  padding-bottom: 0.5em;
  position: fixed;
  width: 100%;
  z-index: 10000;
  align-items: center;
  justify-content: flex-end;
}

.scrolled {
  background-color: rgba(20, 19, 19, 0.89);
}

.menu-btn {
  cursor: pointer;
  color: peru;
}

nav {
  visibility: hidden;
  position: fixed;
  background: peru;
  right: 0;
  top: 0;
  height: 100vh;
  width: 66%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.3s;
  z-index: 10000;
}

.openNav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 7em;
  position: fixed;
  height: 100vh;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.875em 5em 0.875em 1.5em;
  white-space: nowrap;
  display: block;
  font-size: 1.5em;
  font-weight: 500;
}

.active {
  background: #605f60;
}

nav ul li a:hover {
  background: #413e47;
  color: peru;
}

.socialsNav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
}

.socialsNav svg {
  fill: white;
  font-size: 25px;
}

.socialsNav a:hover svg {
  opacity: 0.5;
}

.logo {
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  align-self: center;
  margin: 0;
}

header {
  display: flex;
}

.back-btn {
  cursor: pointer;
  transition: 0.3s;
  margin: 3em 4em 2em;
  color: aliceblue;
  float: right;
}

#projects {
  padding: 7em 1.5em;
  background-color: black;
}

.projectsCon {
  background-color: #383631;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 30px;
  padding-top: 0;
}

.projectsCon h1 {
  align-self: center;
  font-size: 5em;
  margin-bottom: 1rem;
  width: 100%;
  word-wrap: break-word;
  line-height: 0.8;
}

.designsHeader {
  text-align: center;
  font-size: 3.5em;
  line-height: 1;
  color: #ebd380;
}

.carouselItem {
  display: flex;
  justify-content: center;
  min-height: 30vh;
}

.carouselCaption {
  position: absolute;
  bottom: 0;
  background: rgba(97, 88, 88, 0.8);
  width: 100%;
  border-radius: 0% 0% 29px 29px;
}

.carouselCaption h1 {
  color: white;
  font-size: 1.8em;
  text-align: center;
  margin: 0.6em 0;
}

.carouselCaption button {
  border-radius: 55px;
  background-color: #8b6767;
  padding: 1em 1.5em;
  border: none;
}

.carouselCaption button:hover {
  opacity: 0.8;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.carouselCaption button:hover a {
  text-decoration: none;
}

.carouselCaption button a {
  color: white;
  text-underline-offset: 3px;
  font-weight: 500;
}

.carouselImg {
  border-radius: 30px;
}

.react-multi-carousel-track {
  align-items: center;
}

.designsCaption {
  color: white;
}

.designsCaption h1 {
  font-size: 1.6em;
  text-align: center;
  margin-bottom: 0.8em;
  padding-right: 1em;
  padding-left: 1em;
}

.designsImg {
  display: flex;
  align-items: center;
}

#designs .react-multi-carousel-dot-list {
  margin-top: 1em;
}

.technImg {
  height: 11em;
}

.technCaption {
  text-align: center;
  margin-top: 2em;
  color: white;
}

.react-multi-carousel-dot-list {
  position: unset !important;
}

.nav-link,
.nav-tabs,
.nav-fill {
  border: none !important;
  border-radius: unset !important;
}

#designs {
  padding-bottom: 7em;
  padding-top: 8em;
  background-color: #383631;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202124;
  padding-top: 6em;
  padding-bottom: 7em;
}

.aboutHeader {
  text-align: center;
  margin-bottom: 1em;
  font-size: 3.5em;
  line-height: 1;
  color: #eb8093;
}

#about .nav-link {
  color: white;
}

#about .nav-item {
  background-color: #0f0f0f;
  border-radius: 50px;
  flex: none;
  margin-bottom: 0.7em;
}

#about .nav-link.active {
  background-color: unset !important;
  color: #eb8093;
}

#about .nav-tabs {
  justify-content: space-evenly;
}

#about .card {
  background-color: #383631;
}

#about .card-text {
  color: white;
  text-align: justify;
}

#technologies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ebd380;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 3.4em;
  border-radius: 80px;
  margin-top: 6em;
  margin-left: 1em;
  margin-right: 1em;
}

.techsCon {
  padding-top: 5em;
  padding-right: 1em;
  padding-left: 1em;
  background-color: #202124;
  border-radius: 50px;
  margin-top: 2.3em;
  margin-bottom: 4em;
  margin-right: 0.2em;
  margin-left: 0.2em;
}

.techsHeader {
  text-align: center;
  font-size: 3.5em;
  line-height: 1;
  color: white;
  margin-bottom: 0;
}

#technologies .react-multi-carousel-list {
  margin-bottom: 2em;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5em 0;
  margin-top: 3em;
}

.socialIcons svg {
  fill: white;
  margin: 1em 0.5em;
  font-size: 30px;
}

.socialIcons a:hover svg {
  opacity: 0.5;
}

.footerLink {
  color: white;
}

.footerLink:hover {
  text-decoration: none;
  color: white;
}

.footer p {
  color: white;
}

.soon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9em;
  height: 100vh;
}

.react-multiple-carousel__arrow {
  background: rgba(0, 0, 0, 0.9) !important;
}

@media only screen and (min-width: 500px) {
  section {
    padding: 0;
    margin: 0;
  }

  .logo {
    margin-left: 0.8em;
  }

  .openNav {
    width: 40%;
  }

  .homeTxt ul li {
    font-size: 5em;
    font-weight: 700;
  }

  .projectsCon {
    width: 80%;
    margin: 0 auto;
  }

  #about .card {
    height: auto;
    width: 80%;
    margin: auto;
    box-shadow: 7px 0px 15px 0px #3b3a3a;
  }

  #about .active {
    background: none;
  }
}

@media only screen and (min-width: 1000px) {
  .menu-btn,
  .back-btn,
  .socialsNav {
    display: none;
  }

  #home {
    height: 100vh;
    background-position: right;
    background-size: 50%;
  }

  .homeTxt {
    background: none;
  }

  .homeTxt ul li {
    line-height: 1em;
    font-size: 9.8em;
  }

  .homeBtn {
    font-size: 1.2em;
  }

  header {
    justify-content: flex-start;
    line-height: 0.8em;
  }

  nav {
    visibility: unset;
    background: none;
    position: unset;
    height: auto;
    opacity: 1;
    transform: translateX(0);
    float: left;
    width: auto;
  }

  .scrolled {
    justify-content: space-evenly;
  }

  nav ul {
    display: flex;
    margin-top: auto;
    width: auto;
    float: right;
    margin: 0;
    position: unset;
    height: auto;
  }

  nav ul li a {
    color: white;
    padding: 1em;
    display: block;
    font-size: 1.3em;
  }

  .active {
    color: var(--quaternary-color);
    background: none;
  }

  nav ul li a:hover {
    background: none;
    color: rgba(238, 232, 232, 0.308);
  }

  .projectsCon {
    width: 70%;
  }

  .projectsCon h1 {
    margin-top: 0.5em;
    font-size: 7em;
  }

  .carouselCaption h1 {
    font-size: 4em;
  }

  #about .card {
    width: 40%;
  }

  #about .nav-tabs {
    width: 50%;
    align-self: center;
  }

  #about .card-text {
    font-size: large;
  }

  #designs .react-multi-carousel-list {
    width: 40%;
    margin: 3em auto;
  }

  #technologies {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
