*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #2d7dff;
  --secondary-color: green;
}

section {
  padding: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.menu-btn {
  cursor: pointer;
  margin-right: 0.5em;
}

nav {
  visibility: hidden;
  position: fixed;
  background: #2c2931;
  right: 0;
  top: 0;
  height: 100vh;
  width: 66%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.3s;
}

.openNav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 7em;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.875em 5em 0.875em 4em;
}

nav ul li a:hover {
  background: #413e47;
}

.logo {
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  align-self: center;
  margin: 0;
}

header {
  display: flex;
}

.active {
  color: var(--secondary-color);
  font-weight: bold;
}

.back-btn {
  cursor: pointer;
  transition: 0.3s;
  margin: 3em 4em 2em;
  color: aliceblue;
  float: right;
}

@media only screen and (min-width: 500px) {
  section {
    padding: 0;
    margin: 0;
  }

  .menu-btn,
  .back-btn {
    display: none;
  }

  nav {
    visibility: unset;
    background: none;
    position: unset;
    height: auto;
    opacity: 1;
    transform: translateX(0);
  }

  nav ul {
    display: flex;
    margin-top: auto;
    width: auto;
    float: right;
    margin: 0;
  }

  nav ul li a {
    color: #2d7dff;
    padding: 1em;
    display: block;
  }

  .logo {
    margin-left: 0.8em;
  }
}
