*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #2d7dff;
  --secondary-color: green;
}

section {
  padding: 2em;
}

header {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.menu-btn {
  cursor: pointer;
}

nav {
  visibility: hidden;
  position: fixed;
  background: #2c2931;
  right: 0;
  top: 0;
  height: 100vh;
  width: 66%;
  transform: translateX(50%);
  opacity: 0;
  transition: all 0.3s;
}

.openNav {
  visibility: unset;
  opacity: 1;
  transform: translateX(0);
  z-index: 10000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-top: 7em;
}

nav ul li {
  width: 100%;
}

nav ul li a {
  text-decoration: none;
  color: rgb(247, 28, 28);
  display: block;
  padding: 0.875em 5em 0.875em 4em;
  white-space: nowrap;
}

nav ul li a:hover {
  background: #413e47;
}

.active {
  color: green;
}

.logo {
  color: var(--primary-color);
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: -0.1em;
  align-self: center;
  margin: 0;
}

header {
  display: flex;
}

.back-btn {
  cursor: pointer;
  transition: 0.3s;
  margin: 3em 4em 2em;
  color: aliceblue;
  float: right;
}

.carouselItem {
  display: flex;
  justify-content: center;
}

.carouselCaption {
  color: #8e56eb !important;
  position: absolute;
  bottom: 2em;
}

.carouselImg {
  height: 12em;
}

.react-multi-carousel-track {
  align-items: center;
}

.designsCaption {
  margin-bottom: 1.5em;
}

.designsCaption h1 {
  font-size: 3em;
  text-align: center;
}

.designsImg {
  display: flex;
  min-height: 28em;
  align-items: center;
}

.technImg {
  height: 11em;
}

.technCaption {
  text-align: center;
  margin-top: 1.5em;
}

.react-multi-carousel-dot-list {
  position: unset !important;
}

@media only screen and (min-width: 500px) {
  section {
    padding: 0;
    margin: 0;
  }

  .menu-btn,
  .back-btn {
    display: none;
  }

  nav {
    visibility: unset;
    background: none;
    position: unset;
    height: auto;
    opacity: 1;
    transform: translateX(0);
  }

  nav ul {
    display: flex;
    margin-top: auto;
    width: auto;
    float: right;
    margin: 0;
  }

  nav ul li a {
    color: #2d7dff;
    padding: 1em;
    display: block;
  }

  nav ul li a:hover {
    background: none;
    color: red;
  }

  .logo {
    margin-left: 0.8em;
  }
}
